{% extends 'base.html.twig' %}

{% block title %}Edit Recept{% endblock %}

{% block body %}
<h1>Edit Recept</h1>
 <hr>
 {{ form_start(form) }}
 {{ form_widget(form) }}
 {{ form_end(form) }}
{% endblock %}