{% extends 'base.html.twig' %}

{% block title %}HealthOne Patienten{% endblock %}

{% block body %}
  {% if patienten %}
    <table id="patienten" class="table table-striped">
      <thead>
        <tr>
          <th>Patient Klantnummer</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for patient in patienten %}
          <tr>
            <td>{{ patient.klantnummer }}</td>
            <td>
              <a href="/patient/{{ patient.id }}" class="btn btn-dark">Show</a>
              <a href="/patient/edit/{{ patient.id }}" class="btn btn-light">Edit</a>
              <a href="#" class="btn btn-danger delete-patient" data-id="{{ patient.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No patienten to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/mainFourth.js"></script>
{% endblock %}