label {
    margin-top: 8px;
}

@media only screen and (min-width: 900px) {
    #cont {
        margin-top: 150px;
    }
}

@media only screen and (min-width: 900px) {
    #HText {
        padding-left: 100px;
    }
}

