{% extends 'base.html.twig' %}

{% block title %}HealthOne{% endblock %}

{% block body %}

<div class="jumbotron fadeInLeft animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft; margin-top:20px;">
  <h1 class="display-4">Welkom bij HealthOne</h1>
  <p class="lead">De website is gemaakt zodat de medewerkers van ZilverenKruis op een makkelijke manier informatie kunnen beheren.</p>
  <hr class="my-4">
  <p>De arts kan hiermee nieuwe recepten aanmaken en de informatie van hun patienten bekijken.</p>
  <p>De apotheker kan hiermee recepten bekijken en de datum van ophalen makkelijk bepalen.</p>
  <p>De verzekeringsmedewerker kan hiermee de verschillende gebruikers beheren en ook alles doen.</p>
  <p class="lead">
  </p>
</div>
{% endblock %}
 