{% extends 'base.html.twig' %}

{% block title %}HealthOne{% endblock %}

{% block body %}

<div class="jumbotron" style="margin-top:20px;">
  <h1 class="display-3">Hallo, gebruiker!</h1>
  <p class="lead">De website is gemaakt zodat de medewerkers van ZilverenKruis op een makkelijke manier informatie kunnen beheren.</p>
  <hr class="my-4">
  <p>De arts kan hiermee nieuwe recepten aanmaken en de informatie van hun patienten bekijken.</p>
  <p>De apotheker kan hiermee recepten bekijken en de datum van ophalen makkelijk bepalen.</p>
  <p>De verzekeringsmedewerker kan hiermee de verschillende gebruikers beheren en ook alles doen.</p>
  <p class="lead">
  <a class="btn btn-primary btn-lg" role="button" href="{{ path('logout') }}">Logout</a>
  </p>
</div>
{% endblock %}
 