{% extends 'base.html.twig' %}

{% block title %}HealthOne Medicijnen{% endblock %}

{% block body %}
  {% if medicijnen %}
    <table id="medicijnen" class="table table-striped">
      <thead>
        <tr>
          <th>Medicijn Naam</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for medicijn in medicijnen %}
          <tr>
            <td>{{ medicijn.naam }}</td>
            <td>
              <a href="/medicijn/{{ medicijn.id }}" class="btn btn-primary">Show</a>
              <a href="/medicijn/edit/{{ medicijn.id }}" class="btn btn-dark">Edit</a>
              <a href="#" class="btn btn-danger delete-medicijn" data-id="{{ medicijn.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No medicijnen to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/mainSecond.js"></script>
{% endblock %}