<!-- Footer -->
<footer class="page-footer font-small blue darken-2 fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#"> Eureka</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->